---
import { APP_URL } from "astro:env/client";
import { buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

interface Props {
	className?: string;
}

const { className } = Astro.props;
---

<a
	class={cn(
		buttonVariants({ variant: "default", effect: "shine" }),
		className,
	)}
	href={`${APP_URL}/login`}
>
	Login
</a>
