---
import { APP_URL } from "astro:env/client";
import { Button, buttonVariants } from "@/components/ui/button";
import { cn } from "@/lib/utils";

type ButtonProps = Parameters<typeof Button>[0];

interface Props {
	className?: string;
	variant?: ButtonProps["variant"];
	size?: ButtonProps["size"];
	effect?: ButtonProps["effect"];
}

const { className, variant, size, effect = "shine" } = Astro.props;
---

<a
	class={cn(buttonVariants({ variant, size, effect }), className)}
	href={`${APP_URL}/sign-up`}
>
	Sign up
</a>
