---

import { motion } from "motion/react";
import { Button } from "@/components/ui/button";
---

<div class="relative flex min-h-screen flex-col items-center justify-center">
			<div class="px-4 py-24">
				<h1 class="relative z-10 mx-auto max-w-4xl text-center text-2xl font-bold md:text-4xl lg:text-7xl text-foreground">
					{"Plan your trip in minutes, not hours"
						.split(" ")
						.map((word, index) => (
							<motion.span
								key={index}
								initial={{ opacity: 0, filter: "blur(4px)", y: 10 }}
								animate={{ opacity: 1, filter: "blur(0px)", y: 0 }}
								transition={{
									duration: 0.3,
									delay: index * 0.1,
									ease: "easeInOut",
								}}
								className="mr-2 inline-block"
								client:load
							>
								{word}
							</motion.span>
						))}
				</h1>
				<motion.p
					initial={{
						opacity: 0,
					}}
					animate={{
						opacity: 1,
					}}
					transition={{
						duration: 0.3,
						delay: 0.8,
					}}
					className="relative z-10 mx-auto max-w-xl py-4 text-center text-lg font-normal text-neutral-600 dark:text-neutral-400"
					client:load
				>
					With SkySearch, you can plan your trip to Central Asia in minutes, not hours. Try our best
					in class, state of the art, cutting edge AI tools to get your trip
					up.
				</motion.p>
				<motion.div
					initial={{
						opacity: 0,
					}}
					animate={{
						opacity: 1,
					}}
					transition={{
						duration: 0.3,
						delay: 1,
					}}

					client:load
					className="relative z-10 mt-8 flex flex-wrap items-center justify-center gap-4"
				>
					<Button size="lg">Explore Now</Button>
					<Button variant="outline" size="lg">
						Contact Us
					</Button>
				</motion.div>
			</div>
		</div>
