---
import { NODE_ENV } from "astro:env/client";
import PostHog from "../components/posthog.astro";
---
<html>
  <head>
    {NODE_ENV === "production" && <PostHog />}
  </head>
  <body>
    <slot />
  </body>
</html>
